#main {
    height:85%;
    width:85%;
    color: lightgray;
}
#wrapper {
    width: 500px;
    border: 1px solid black;
    overflow: hidden;
}

.form {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    background: lightgray;
    border-radius: 0px 0px 10px 10px;
}

img {
    border-radius: 50%;
}

#likes{
    width: 300px;
    float:left; /* add this */
    border: 1px solid red;
}

#views {

    border: 1px solid green;
    overflow: hidden;
    float:left;
}

